@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

blockquote[xml|lang]{
	font-style: italic;
}

q{
	font-style: italic;
}

table{
	margin: 1em auto;
}

/* location-specific */
#chapter-14 blockquote,
#chapter-28 blockquote{
	display: table;
	margin-left: auto;
	margin-right: auto;
}

#chapter-14 blockquote p,
#chapter-28 blockquote p{
	text-indent: -1em;
	padding-left: 1.5em;
}

#chapter-14 blockquote p:first-child,
#chapter-28 blockquote p:first-child{
	display: table-cell;
	border-right: solid 2px;
	padding-right: 1em;
	text-indent: 0;
	vertical-align: middle;
	white-space: nowrap;
}

#chapter-18 blockquote p{
	text-indent: 0;
}

#chapter-18 blockquote:nth-of-type(3){
	text-align: right;
}

#chapter-106 th:nth-of-type(even){
	padding-left: 1em;
}

#chapter-106 td:nth-of-type(odd){
	padding-left: 1em;
	text-indent: -1em;
}

#chapter-106 td:nth-of-type(even){
	padding-left: 1em;
	text-align: right;
}

#chapter-106 tr:nth-of-type(5) td:last-of-type{
	border-bottom: solid 2px;
}
/* end of location-specific */

/* letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:sender"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
/* end of letters */

/* poem/verse/song */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i7{
	padding-left: 5em;
	text-indent: -1em;
}
/* end poem/verse/song */
